.btn-primary {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

.btn-primary:hover {
    background-color: #222 !important;
    border-color: #222 !important;
}
